extends layout

block content
    .card.mb-4
        .card-body
            h1.text-center Editar Publicación
            form(action=`/blog/edit/${post._id}`, method="POST")
                .form-group
                    label(for="title") Título
                    input.form-control(type="text", name="title", value=post.title, required)
                .form-group
                    label(for="content") Contenido
                    textarea.form-control(name="content", required)= post.content
                .form-group
                    .d-flex.align-items-center
                        label(for="category" class="me-2") Selecciona una categoría:
                        select(name="category" id="category" class="form-control w-50 ml-2")
                            option(value="Avisos" selected=post.category === 'Avisos') Avisos
                            option(value="Guias" selected=post.category === 'Guias') Guias
                            option(value="General" selected=post.category === 'General') General

                button.btn.mt-3.btn-primary(type="submit") Actualizar
                a.btn.btn-secondary.mt-3(href="/blog/posts") Cancelar
